/ =====================================
/   Header Container
/ =====================================

%table{ bgcolor: "{{ page.hdr-c-bg }}", style: "{{ page.hdr-border }}", width: "100%", {{ page.table-base }} }
  %tr
    %td

      / =====================================
      /   Header Content
      / =====================================

      %table.flex-size{ align: "center", style: "color: {{ page.hdr-c-base }}; {{ page.tbl-typeset }}", width: "600", {{ page.table-base }} }
        %tr
          %td{ width: "{{ page.gutter }}" }
          %td{ align: "center" }

            %a{ href: "#", style: "color: {{ page.hdr-c-link }}" }
              %img{ alt: "emayll", border: "0", src: "/images/logo--site.png", width: "150" }

          %td{ width: "{{ page.gutter }}" }
