/ =====================================
/   Footer Container
/ =====================================

%table{ bgcolor: "{{ page.ftr-c-bg }}", style: "{{ page.ftr-border }}", width: "100%", {{ page.table-base }} }
  %tr
    %td

      / =====================================
      /   Footer Content
      / =====================================

      %table.flex-size{ align: "center", style: "color: {{ page.ftr-c-base }}; {{ page.tbl-typeset }} font-size: 14px;", width: "600", {{ page.table-base }} }
        %tr
          %td{ width: "{{ page.gutter }}" }
          %td{ align: "center" }

            %a{ href: "*|UNSUB|*", style: "color: {{ page.c-link }}; font-weight: bold;" } Unsubscribe

          %td{ width: "{{ page.gutter }}" }

        %tr
          %td{ colspan: "3" }

        %tr
          %td{ width: "{{ page.gutter }}" }
          %td{ align: "center", style: "font-size: 10px;" }

            *|LIST:ADDRESS|*

          %td{ width: "{{ page.gutter }}" }
