---
layout: email
title:  "A Transactional Email"
categories: transactional
service: "none"
status: "inactive"
purpose: "A base starter file for promotional emails."
tracker: ?utm_medium=email&utm_campaign=NAME_OF_THIS_THING_NOT_IN_CAPS&utm_source=mandrill&utm_content=null

hdr-c-base: "#37a381"
hdr-c-bg: "#f7f7f7"
hdr-c-link: "#0b684d"
hdr-border: "border-bottom: 1px solid #f5f5f5;"

ftr-c-base: "#d4d4d4"
ftr-c-bg: "#f7f7f7"
ftr-c-link: "#a1a1a1"
ftr-border: "border-top: 1px solid #f5f5f5;"

tbl-base: "border: '0', cellpadding: '0', cellspacing: '0'"
tbl-typeset: "font-family: Helvetica, Tahoma, sans-serif; font-size: 16px; line-height: 1.4;"
c-bg: "#fefefe"
c-base: "#252525"
c-link: "#228b9b"
c-title: "#3f4944"
gutter: "20"

btn-c-base: "#ffffff"
btn-c-bg: "#999999"
btn-c-shadow: "#777777"

---

/ =====================================
/   Header Includes
/ =====================================

{% include email-header.haml %}

/ =====================================
/   Content Name
/ =====================================

%table.flex-size{ style: "color: {{ page.c-base }}; {{ page.tbl-typeset }}", width: "600", {{ page.table-base}} }

  / Spacer
  %tr
    %td{ colspan: "3", height: "25" }

  / =====================================
  /   Content
  / =====================================

  %tr
    %td{ width: "{{ page.gutter }}" }
    %td{ align: "left" }

      %h1{ style: "margin: 0; padding-bottom: 5px;" } Hi Mergename,

      Something happened. We did something and we did it because we do things or because you did something. Either way, it happened.

    %td{ width: "{{ page.gutter }}" }

  / Spacer
  %tr
    %td{ colspan: "3", height: "15" }

  %tr
    %td{ width: "{{ page.gutter }}" }
    %td{ align: "left" }

      / =====================================
      /   Button
      / =====================================

      %table{ align: "center", style: "{{ page.tbl-typeset }}", width: "260", {{ page.table-base }} }
        %tr
          %td{ bgcolor: "{{ page.btn-c-bg }}", style: "border-radius: 3px; box-shadow: 0 1px 0 {{ page.btn-c-shadow }};", valign: "top"}
            %a{ href: "#/{{ page.tracker }}", style: "color: {{ page.btn-c-base }}; display: block; font-size: 14px; font-weight: bold; line-height: 3; text-align: center; text-decoration: none; text-transform: uppercase; "} See the thing

    %td{ width: "{{ page.gutter }}" }

  / Spacer
  %tr
    %td{ colspan: "3", height: "15" }

  / =====================================
  /   Closing
  / =====================================
  %tr
    %td{ width: "{{ page.gutter }}" }
    %td{ align: "left" }

      Thanks,
      %br
      Emayll

    %td{ width: "{{ page.gutter }}" }

  / Spacer
  %tr
    %td{ colspan: "3", height: "25" }

/ =====================================
/   Footer Include
/ =====================================

{% include email-footer.haml %}
