---
layout: email
title:  "Front-End Conf Week of"
categories: promotional
service: "mailchimp"
status: "active"
purpose: "A base starter file for transactional emails."

hdr-c-base: "#37a381"
hdr-c-bg: "#f5f5f5"
hdr-c-link: "#0b684d"
hdr-border: "border-bottom: 1px solid #f5f5f5;"

ftr-c-base: "#d4d4d4"
ftr-c-bg: "#f7f7f7"
ftr-c-link: "#a1a1a1"
ftr-border: "border-top: 1px solid #f5f5f5;"

tbl-base: "border: '0', cellpadding: '0', cellspacing: '0'"
tbl-typeset: "font-family: 'Museo Sans', Helvetica, Tahoma, sans-serif; font-size: 16px; font-weight: 300; line-height: 1.4;"
c-bg: "#fefefe"
c-base: "#252525"
c-link: "#b51f24"
c-title: "#3f4944"
gutter: "20"

btn-c-base: "#ffffff"
btn-c-bg: "#999999"
btn-c-shadow: "#777777"
---

/ =====================================
/   Header Includes
/ =====================================

{% include email-header.haml %}

%style
  a { color: #b51f24 !important; }

/ =====================================
/   Content Name
/ =====================================

%table.flex-size{ style: "color: {{ page.c-base }}; {{ page.tbl-typeset }}", width: "600", {{ page.tbl-base}} }

  / Spacer
  %tr
    %td{ colspan: "3", height: "25" }

  %tr
    %td{ width: "{{ page.gutter }}" }
    %td{ align: "left" }

      %h1{ style: "margin: 0; padding-bottom: 5px;" } Attendee Meetup Tonight!

      Becky Hamm
      %a{ href: "https://twitter.com/TheBeckyHamm", style: "color: {{ page.c-link }}; font-weight: bold;" } is heading up an attendee meetup tonight at 6:30 p.m.
      %a{ href: "https://www.google.com/maps/preview?ie=UTF-8&fb=1&gl=us&cid=12456308244096257730&q=The+Ale+and+the+Witch&ei=e32-U4j0PNDLsQT2ooGADw&ved=0CIoBEPwSMAk", style: "color: {{ page.c-link }}; font-weight: bold;" } The Ale and the Witch
      is where things will get started. We'll try to come out and say hi later in the night once we're caught up.

    %td{ width: "{{ page.gutter }}" }

  / Spacer
  %tr
    %td{ colspan: "3", height: "5" }

  / =====================================
  /   Rain
  / =====================================
  %tr
    %td{ width: "{{ page.gutter }}" }
    %td{ align: "left" }

      %img{ alt: "umbrella and rain", src: "http://gallery.mailchimp.com/040435af75d83823cc94edc9b/images/5145531e-1a3b-4041-8db0-3cc7e01b3655.png", width: "580" }/

    %td{ width: "{{ page.gutter }}" }

  / Spacer
  %tr
    %td{ colspan: "3", height: "15" }

  / =====================================
  /   Party Alternatives
  / =====================================
  %tr
    %td{ width: "{{ page.gutter }}" }
    %td{ align: "left" }

      %h2{ style: "color: {{ page.c-title }}; font-size: 24px; margin: 0; padding-bottom: 5px;" } It will Rain

      It looks like a 90% chance of rain on Friday and if it goes anything like the past 3 years, it will start raining when we have to leave for lunch and the party. If you can bring or grab an umbrella or poncho, we recommend it.

    %td{ width: "{{ page.gutter }}" }

  / Spacer
  %tr
    %td{ colspan: "3", height: "40" }

  / =====================================
  /   Receipts
  / =====================================
  %tr
    %td{ width: "{{ page.gutter }}" }
    %td{ align: "left" }

      %h2{ style: "color: {{ page.c-title }}; font-size: 20px; margin: 0; padding-bottom: 5px;" } No Receipts Necessary
      We love that Tito gave you nice, professional receipts but we have a master list that we'll use for your badges. If there is any discrepancy, we would only check your photo ID.

    %td{ width: "{{ page.gutter }}" }

  / Spacer
  %tr
    %td{ colspan: "3", height: "40" }

  / =====================================
  /   Gather
  / =====================================
  %tr
    %td{ width: "{{ page.gutter }}" }
    %td{ align: "left" }

      %h2{ style: "color: {{ page.c-title }}; font-size: 20px; margin: 0; padding-bottom: 5px;" } Updates via anonymous text with Gather

      %a{ href: "https://gather.mailchimpapp.com", style: "color: {{ page.c-link }}; font-weight: bold;" } Gather
      is a service from MailChimp that allows us to send texts to a list without any of us having to share our phone info. Sending expires July 13th.

    %td{ width: "{{ page.gutter }}" }

  / Spacer
  %tr
    %td{ colspan: "3", height: "25" }

  / =====================================
  /
  / =====================================
  %tr
    %td{ width: "{{ page.gutter }}" }
    %td{ align: "left" }

      If you'd like to get texts with any important info or info about social gatherings,
      %a{ href: "https://gather.mailchimpapp.com/subscribe/get-updates-from-the-conference", style: "color: {{ page.c-link }}; font-weight: bold;" } sign up
      for the conference list. We'll likely send 0-5 per day, Wednesday through Saturday.

    %td{ width: "{{ page.gutter }}" }

  / Spacer
  %tr
    %td{ colspan: "3", height: "40" }

  / =====================================
  /   Parking on Friday and Saturday
  / =====================================
  %tr
    %td{ width: "{{ page.gutter }}" }
    %td{ align: "left" }

      %img{ alt: "google map", src: "http://gallery.mailchimp.com/040435af75d83823cc94edc9b/images/8a2a047e-601c-4276-a136-c5bb6f692c1b.jpg", width: "580" }/

    %td{ width: "{{ page.gutter }}" }

  / Spacer
  %tr
    %td{ colspan: "3", height: "15" }

  / =====================================
  /   Party Alternatives
  / =====================================
  %tr
    %td{ width: "{{ page.gutter }}" }
    %td{ align: "left" }

      %h2{ style: "color: {{ page.c-title }}; font-size: 24px; margin: 0; padding-bottom: 5px;" } Parking at the Palladium

      The best place to park at the Palladium is the parking lot on the side of the building, on the same side of the street. There is a smaller overflow lot across the street as well.

    %td{ width: "{{ page.gutter }}" }

  / Spacer
  %tr
    %td{ colspan: "3", height: "15" }

  / =====================================
  /   Additional parking
  / =====================================
  %tr
    %td{ width: "{{ page.gutter }}" }
    %td{ align: "left" }

      %h2{ style: "color: {{ page.c-title }}; font-size: 20px; margin: 0; padding-bottom: 5px;" } Parking elsewhere in St. Pete

      If you street park, please pay attention to the hours of enforcement for the meters. They're strictly enforced. Street parking is all coin-operated, but there are cash and card parking garages throughout the city.

    %td{ width: "{{ page.gutter }}" }

  / Spacer
  %tr
    %td{ colspan: "3", height: "40" }

  / =====================================
  /   Suggestions
  / =====================================
  %tr
    %td{ width: "{{ page.gutter }}" }
    %td{ align: "left" }

      %h2{ style: "color: {{ page.c-title }}; font-size: 20px; margin: 0; padding-bottom: 5px;" } Meetups

      We're still looking for anyone that wants to head up some meetups this week. I'll hold off on a food/attractions/meetups email til Wednesday.

    %td{ width: "{{ page.gutter }}" }

  / Spacer
  %tr
    %td{ colspan: "3", height: "40" }

  / =====================================
  /   Closing
  / =====================================
  %tr
    %td{ width: "{{ page.gutter }}" }
    %td{ align: "left" }

      See you soon!
      %br
      Dan

    %td{ width: "{{ page.gutter }}" }

  / Spacer
  %tr
    %td{ colspan: "3", height: "40" }

/ =====================================
/   Footer Include
/ =====================================

{% include email-footer.haml %}
